<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
<form th:action="@{/save}" method="post">
    <input type="text" name="username" placeholder="name" style="margin-top: 5px"><br>
    <!--<input type="text" name="firstName" placeholder="firstname" style="margin-top: 5px">-->
    <!--<input type="text" name="lastName" placeholder="lastname" style="margin-top: 5px">-->
    <input type="email" name="email" placeholder="email" style="margin-top: 5px"><br>
    <input type="password" name="password" placeholder="pass" style="margin-top: 5px"><br>
    <input type="submit" name="" placeholder="" style="margin-top: 5px">

    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
</form>
</div>


<!--jkkjj-->
<p><a th:href="'/create/manager_page'" th:text="'create manager'"></a></p>

<p><a th:href="'/admin/page'" th:text="'Admin page'"></a></p>
<p><a th:href="'/createAdmin'" th:text="'Create Admin'"></a></p>

<form th:action="@{/sentMail}" method="post">
    <input type="email" name="email" placeholder="mail">
    <input type="text" name="subject" placeholder="subject">
    <input type="text" name="message" placeholder="message">

    <input type="submit" name="" placeholder="">
</form>

<!--<a th:href="@{/times}">TIMES</a>-->
<h1>TIME</h1>
<form th:action="@{/times}" method="post">
    <input type="date" name="date" placeholder="time">
    <select name="start" id="start">
        <option value="9">9:00</option>
        <option value="12">12:00</option>
        <option value="15">15:00</option>
        <option value="18">18:00</option>
        <option value="21">21:00</option>
    </select>
    <select name="end" id="end">
        <option value="9">9:00</option>
        <option value="12">12:00</option>
        <option value="15">15:00</option>
        <option value="18">18:00</option>
        <option value="21">21:00</option>
    </select>
    <input type="submit" name="" placeholder="">

    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
</form>

<ul  th:each="a:${account}">
    <li>
        <a th:href="'/sxxa/'+${a.id}"
           th:text=" ${a.username} + ':' + ${a.email}"></a>
    </li>
</ul>


</body>
</html>