<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/save}" method="post">
    <input type="username" name="username" placeholder="name">
    <input type="password" name="password" placeholder="pass">
    <input type="submit" name="" placeholder="">

    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>
</form>
<h1>cvszvdfvdf</h1>

<p><a th:href="'/create/manager_page'" th:text="'create manager'"></a></p>

<a th:href="@{/times}">TIMES</a>


</body>
</html>